body{
	background: url('../images/Map.jpg');
}
h1{
	text-align:left;
	margin: 5% 0% 5% 5%;
}
#fieldset-wrapper{
	width: 40%;
	margin: 5% 35% 5% 5%;
}
fieldset a {
	text-align:center;
}
#box-one{
	width: 80%;
	height: auto;
	margin: 5% 10% 5% 10%;
	float: left;
	background: aliceblue;
	padding: 5px;
	box-shadow: 0px 1px 2px 4px black;
}
#box-one h2{
	text-align: center;
	margin: 30px 0px 30px 0px;
}
#box-one form{
	margin: 10% 5% 3% 0%;
}
#box-two{
	width: 40%;
	height: auto;
	float: left;
	margin: 5% 5% 5% 5%;
	padding: 5px;
	background:azure;
}
#box-two img{
	width:300px;
	height:250px;
}

