#wrapper{
	width: 480px;
	height: 280px;
	margin: 0% auto;
	background: aliceblue;
}
#signin-wrapper{
	margin: 20% auto;

}
header.funnel{
	background: url("https://d1a3f4spazzrp4.cloudfront.net/arch-frontend/1.1.1/d1a3f4spazzrp4.cloudfront.net/1454024011-global_aqua_01_scale_125_144dpi_01-37a1ca0b8b.png") center center repeat;
	height: 40px;
	width:100%;
    background-size: 60px 60px!important;
    box-sizing: border-box;
    position: relative;
}
#signin-wrapper h2{
	font-size:2.5em;
	text-align: center;
}

fieldset{
	text-align:center;
	border: transparent;
}
fieldset label{
	text-align:left;
	width: 90%;
	float:left;
	margin: 5% 10% 0% 0%;
}
fieldset input{
	font-size:1em;
	width: 90%;
	margin: 2% 10% 2% 0%;
	height: 30px;
	box-sizing: border-box;
}
fieldset input:hover{
	border: 2px solid blue;
}

.signup{
	width: 50%;
	margin: 5% 20% 0% 20%;
}

