#wrapper{
	width: 480px;
	height: 280px;
	margin: 0% auto;
}
header.funnel{
	background: url("https://d1a3f4spazzrp4.cloudfront.net/arch-frontend/1.1.1/d1a3f4spazzrp4.cloudfront.net/1454024011-global_aqua_01_scale_125_144dpi_01-37a1ca0b8b.png") center center repeat;
	height: 40px;
	width:100%;
    background-size: 60px 60px!important;
    box-sizing: border-box;
    position: relative;
}
#signin-wrapper h2{
	font-size:2.5em;
	text-align: center;
}

fieldset{
	text-align:center;
}


